name: Auto Update xiaosa

on:
  workflow_dispatch:  # 手动触发
  repository_dispatch:  # 远程API触发
    types: [trigger_update]
  schedule:
    - cron: "0 13 */7 * *"  # 每7天在国际标准时间13点(北京时间+8，即21点)检查一次

jobs:
  check-and-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check file hash
        id: check_update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # 获取远程文件SHA哈希
          REMOTE_HASH=$(curl -H "Authorization: token $GITHUB_TOKEN" -sL "https://api.github.com/repos/PizazzGY/NewTVBox/contents/%E5%8D%95%E7%BA%BF%E8%B7%AF.zip" | jq -r '.sha')
          
          # 获取本地记录的哈希
          if [ -f "xiaosa/.last_hash" ]; then
            LOCAL_HASH=$(cat xiaosa/.last_hash)
          else
            LOCAL_HASH="null"
          fi

          # 比较哈希值
          if [ "$LOCAL_HASH" != "$REMOTE_HASH" ]; then
            echo "need_update=true" >> $GITHUB_OUTPUT
            echo "new_hash=$REMOTE_HASH" >> $GITHUB_OUTPUT
          else
            echo "need_update=false" >> $GITHUB_OUTPUT
          fi

      - name: Execute update
        if: steps.check_update.outputs.need_update == 'true'
        run: |
          cd "$GITHUB_WORKSPACE"
          mkdir -p xiaosa
          cd xiaosa
          
          find . ! -name "README.md" ! -name ".last_hash" -type f -delete
          
          wget -q "https://gh.2015888.xyz/raw.githubusercontent.com/PizazzGY/NewTVBox/main/单线路.zip" -O xiaosa.zip
          unzip -q xiaosa.zip
          cp -rf TVBoxOSC/tvbox/* ./
          rm -rf xiaosa.zip TVBoxOSC
          
          echo "${{ steps.check_update.outputs.new_hash }}" > .last_hash

      - name: Git commit and push
        if: steps.check_update.outputs.need_update == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "自动更新: $(date +'%Y-%m-%d %H:%M')"
          git push
